.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  height: 40px;
  padding: 0px 20px;
  margin-left: 20px;
  font-size: 1.1rem;
  white-space: nowrap;
}

.network {
  height: 40px;
  display: flex;
  align-items: center;
  
  padding: 0px 20px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #37393f;
  font-weight: normal;
  
  font-size: 1.1rem;
  color: #f2342d;
}

.network:hover,
.network:focus,
.network:active {
  cursor: pointer;
  background-color: rgb(49, 51, 56);
}

.account {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-left: 20px;
  background-color: #37393f;
  border-radius: 4px;
  font-size: 1.1rem;
  white-space: nowrap;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.account:hover,
.account:focus {
  background-color: rgb(49, 51, 56);
}