.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.layout {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}