html,
body {
  background: #1A1B1E;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 0.85rem 4rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: #0060ce;
}

.code {
  background: #37393f;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}